<div class="container">
    <div class="row d-flex flex-wrap">
        <!-- <div class="container "> -->
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'21'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'20'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'19'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'18'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'17'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'16'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'15'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'14'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'13'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'12'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'5'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'4'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'9'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'8'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'7'"></app-picture-card>
            </div>
            <div class="col-3 mb-2" >
                <app-picture-card [tday]="'6'"></app-picture-card>
            </div>
        <!-- </div> -->
    </div>
</div>